profiles {
  standard {
    docker {
      enabled = true
      fixOwnership = true
    }
    process {
      cpus = 1

      $msgfPlus {
        cpus = 4
      }
      $percolator {
        cpus = 4
      }
    }
  }
  slurm {
    docker {
      enabled = true
      fixOwnership = true
    }
    process {
      executor = 'slurm'
      cpus = 1

      $msgfPlus {
        cpus = 4
      }
      $percolator {
        cpus = 4
      }
    }
  }
}
