params {
  container = 'glormph/ipaw-1.0' // Container slug. Stable releases should specify release tag!
}

profiles {
  standard {
    includeConfig 'configuration/base.config'
    executor {
      name = 'slurm'
    }
  }
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
    docker.fixOwnership = true
    docker.runOptions = '-u $(id -u):$(id -g)'
  }
  testing {
    includeConfig 'configuration/base.config'
    executor {
      name = 'local'
      cpus = 20
    }
  }
}
