params {
  threadspercore = 2
  clusterOptions = false
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

process {
  container = params.container

  cpus = { check_max( 1 * task.attempt, 'cpus') }
  memory = { check_max( 16.GB * task.attempt, 'memory') }
  time = { check_max( 2.h * task.attempt, 'time') }
  errorStrategy = { task.exitStatus in [143, 137] ? 'retry' : 'terminate' }

  withName: msgfPlus {
    time = { check_max( 6.h * task.attempt, 'time' ) }
    cpus = { Runtime.runtime.availableProcessors() < 4 ? Runtime.runtime.availableProcessors() : 4 }
  }

  withName: percolator {
    cpus = 2
    time = { check_max( 5.h * task.attempt, 'time' ) }
  }
}
