trace {
  file = './trace.txt'
}

docker {
  enabled = true
}

params {
  threadspercore = 3
}

executor {
name = 'slurm'
}

process {
  withName: quantifySpectra {
    maxForks = 10
  }
  withName: createSpectraLookup {
    time = { check_max( 0.1.h * mzmlfiles.size(), 'time' ) }
    memory = '32 GB'
  }
  withName: msgfPlus {
    cpus = { Runtime.runtime.availableProcessors() < 4 ? Runtime.runtime.availableProcessors() : 10 }
  }
  withName: createPSMTables {
    time = { check_max( 0.002.h * mzmlcount, 'time' ) } // 500 files, 1h
  }
}
