trace {
  file = './trace.txt'
}

executor {
name = 'slurm'
}

process {
  withName: createSpectraLookup {
    time = { check_max( 0.05.h * mzmlfiles.size(), 'time' ) }
  }
  withName: quantLookup {
    time = { check_max( 0.1.h * isofns.size(), 'time' ) }
    memory = '32 GB'
  }
  withName: createPSMTable {
    time = { check_max( 0.002.h * mzmlfiles.size(), 'time' ) } // 500 files, 1h
  }
  withName: percolator {
    cpus = 4
  }
}
