params {
  strips = ['3-10': [intercept: 3.5478, fr_width: 0.0676, tolerance: 0.11, fr_amount: 72, reverse: false],
            '37-49': [intercept: 3.5959, fr_width: 0.0174, tolerance: 0.08, fr_amount: 72, reverse: false],
            '11-6': [intercept: 10.3936, fr_width: -0.0762, tolerance: 0.11, fr_amount: 60, reverse: true],
            '6-9': [intercept: 6.1159, fr_width: 0.0336, pi_tolerance: 0.11, fr_amount: 72, reverse: false]
  ]
}

docker {
  enabled = true
  fixOwnership = true
  runOptions = "-u \$(id -u):\$(id -g)"
}

process {
  cpus = 1
  $msgfPlus {
    cpus = 4
  }
  $percolator {
    cpus = 4
  }
}
